<h3>Авторизация</h3>

<% form_tag session_path do -%>
<p><%= label_tag 'login', 'логин' %><br />
<%= text_field_tag 'login', @login %></p>

<p><%= label_tag 'password', 'пароль' %><br/>
<%= password_field_tag 'password', nil %></p>

<p><%= label_tag 'remember_me', 'запомнить' %>
<%= check_box_tag 'remember_me', '1', @remember_me %></p>

<p><%= submit_tag 'Войти' %></p>
<% end -%>

<%= link_to "Регистрация", signup_path %>