<%= render :partial => 'admin/shared/jquery' %>
<%= render :partial => 'admin/sources/table', :locals => { :partial_object => @source } %>

<%= title "Export results", :h2 %>

<script type="text/javascript">
/* -------------------------------------------------------------------------- */
    // toggle color class from 'unchecked' to 'checked'
    var td_check = function(td_obj){
        jQuery(td_obj).removeClass('unchecked').addClass('checked');
    }
/* -------------------------------------------------------------------------- */
    // toggle color class from 'checked' to 'unchecked'
    var td_uncheck = function(td_obj){
        jQuery(td_obj).removeClass('checked').addClass('unchecked');
    }
/* -------------------------------------------------------------------------- */
    // set color class for attr <td>
    // <td class="..."><input type="checkbox" .... ></td>
    var set_td_attr_class = function(check_box) {
        if (jQuery(check_box).attr('checked') == true) {
          td_check(jQuery(check_box).parent());
        } else {
          td_uncheck(jQuery(check_box).parent());
        }
    }
/* -------------------------------------------------------------------------- */
    // set color class for All attr <td>
    var set_mass_td_attr_class = function(head_check_box_obj){

      var attr_check_box_class = '.' + jQuery(head_check_box_obj).attr('id');

      // set all attr_check_box_checked == head_check_box_checked
      jQuery(attr_check_box_class).attr('checked', jQuery(head_check_box_obj).attr('checked'));

      // set color class for head <td> and attr <td>
      if (jQuery(attr_check_box_class).attr('checked') == true) {
        td_check(jQuery(head_check_box_obj).parent());
        td_check(jQuery(attr_check_box_class).parent());
      } else {
        td_uncheck(jQuery(head_check_box_obj).parent());
        td_uncheck(jQuery(attr_check_box_class).parent());
      }
    }
/* -------------------------------------------------------------------------- */
    // synchronize <td> head color class with <td> attr
    // <td class="..."><input type="checkbox" .... ></td>
    var set_td_head_class = function(attr_check_box) {

      var attr_class = '.' + jQuery(attr_check_box).attr('id');

      var flags_array = jQuery.map(jQuery(attr_class), function(input_object) {
        return jQuery(input_object).attr('checked');
      });

      var true_position = jQuery.inArray(true, flags_array)

        if(true_position == -1) { // if all attr check_boxes is off (checked == false)
          jQuery(attr_check_box).attr('checked', false);
          td_uncheck(jQuery(attr_check_box).parent());
        } else {
          jQuery(attr_check_box).attr('checked', true);
          td_check(jQuery(attr_check_box).parent());
        }
    }
/* -------------------------------------------------------------------------- */
    // set class for attr <td> and verify class for head <td>
    var check_class = function(attr_check_box) {
        var head_check_box = jQuery('#' + jQuery(attr_check_box).attr('class'));
        set_td_head_class(head_check_box);
        set_td_attr_class(attr_check_box);
    }
/* -------------------------------------------------------------------------- */
jQuery(document).ready(function() {

  jQuery.each(jQuery('input'), function(index, attr_check_box){
    if ( jQuery(attr_check_box).attr('name').match(/accept\_/) ) {
      set_td_attr_class(attr_check_box);
    }
  })

  jQuery.each(jQuery('input'), function(index, head_check_box){
    if ( jQuery(head_check_box).attr('name').match(/head$/) ) {
      set_td_head_class(head_check_box);
    }
  })

 });
/* -------------------------------------------------------------------------- */
</script>

  <table class="ttable">
    <thead>
      <th></th>
      <th></th>
      <th>Поле</th>
      <th>Было</th>
      <th>Стало</th>
    </thead>
    <tbody>
      <% form_tag "#{move_admin_source_results_path(@source.id)}" do %>
      <tr><td colspan="5" class="delimiter"></td></tr>
      <% @results.each do |result| %>

            <%= head_compare(result) %>

            <%= field_compare(result, :name,       'Название организации') %>
            <%= field_compare(result, :address,    'Адрес') %>
            <%= field_compare(result, :phones,     'Телефон') %>
            <%= field_compare(result, :email,      'E-mail') %>
            <%= field_compare(result, :site_url,   'Сайт') %>
            <%= field_compare(result, :category,   'Категория') %>
            <%= field_compare(result, :work_time,  'Время работы') %>
            <%= field_compare(result, :other_info, 'Примечания') %>

            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>
                Источник: <%= link_to result.link.url, result.link.url, :popup => true %>
                <br>
                <p align="right" style="padding:0px; margin:0px;">
                  <%= show_box_for result, :link_name=> 'Показать html', :detail_box_id => result.id.to_s %>
                </p>
              </td>
            </tr>
            
              <% detail_box_for result do %>
                <tr id="<%= result.id.to_s %>" style="display:none;">
                  <td colspan="5">
                    <p align="right" style="padding:0px; margin:0px;">
                      <%= hide_box_for result, :link_name => 'Спрятать', :detail_box_id => result.id.to_s %><br>
                    </p>
                    <b>http_last_modify: </b><%= result.http_last_modify.nil? ? 'nil' : result.http_last_modify %>
                    <br>
                    <%= result.raw_html %>
                  </td>
                </tr>
              <% end %>
              
            <tr><td colspan="5" class="delimiter"></td></tr>
        
      <% end %>
        <tr>
          <td colspan="5">
            <%= submit_tag 'Ok' %>
          </td>
        </tr>
<% end %>
        </tbody>
    </table>


