<%= render :partial => 'admin/sources/table', :locals => { :partial_object => @source } %>

<%= title "Listing results", :h2 %>

<table class="ttable">
  <thead>
    <th>Name</th>
    <th>Address</th>
    <th>Phones</th>
    <th>E-mail</th>
    <th>Site url</th>
    <th>Category</th>
    <th>Work time</th>
    <th>Other info</th>
    <th>Actions</th>
  </thead>
  <tfoot>
    <tr>
      <td colspan="9" align="center">
        <%= page_entries_info @results %><br>
        <%= will_paginate @results %>
      </td>
    </tr>
  </tfoot>
  <tbody>
    <% @results.each do |result| %>

      <tr>
        <td><%=h result.name %></td>
        <td><%=h result.address %></td>
        <td><%=h result.phones %></td>
        <td><%=h result.email %></td>

        <td><%=h result.site_url %></td>
        <td><%=h result.category %></td>
        <td><%=h result.work_time %></td>
        <td><%=h result.other_info %></td>
        <td>
          <%= link_to result.link.url, result.link.url, :popup => true %><br>
          <p align="right" style="padding:0px; margin:0px;">
            <%= show_box_for result, :link_name=> 'Show html', :detail_box_id => result.id.to_s %>
          </p>
        </td>
        </tr>
          <% detail_box_for result do %>
          <tr id="<%= result.id.to_s %>" style="display:none;">
            <td colspan="9">
              <p align="right" style="padding:0px; margin:0px;">
                <%= hide_box_for result, :link_name => 'Hide this', :detail_box_id => result.id.to_s %><br>
              </p>
              <b>http_last_modify: </b><%= result.http_last_modify.nil? ? 'nil' : result.http_last_modify %>
              <br>
              <%= result.raw_html %>
            </td>
          </tr>
          <% end %>

    <% end %>
  </tbody>
</table>


