<% nested_attributes_for f, :phones -%>

<p>
  <%= f.label :category_id, 'Категория' %><br />
	<%= f.select :category_id, Category.all_for_select %>
</p>
<p>
  <%= f.label :name, 'Название' %><br />
  <%= f.text_field :name %>
</p>
<p>
  <%= f.label :full_name, 'Полное название' %><br />
  <%= f.text_field :full_name %>
</p>
<p>
  <%= f.label :inn, 'ИНН' %><br />
  <%= f.text_field :inn %>
</p>
<p>
  <%= f.label :address, 'Адрес' %><br />
  <%= f.text_field :address %>
</p>
<p>
  <%= f.label :site, 'Сайт' %><br />
  <%= f.text_field :site %>
</p>
<p>
  <%= f.label :director, 'Руководитель' %><br />
  <%= f.text_field :director %>
</p>
<p>
  <%= f.label :description, 'Описание' %><br />
  <%= f.text_area :description %>
</p>
<p>
  <%= f.label :working_time, 'Рабочее время' %><br />
  <%= f.text_field :working_time %>
</p>
<p>
  <%= f.label :sources, 'Категория' %><br />
  <%= f.text_field :sources %>
</p>
<fieldset id="phones">
  <legend>Телефоны</legend>
  <% f.fields_for :phones do |phones_form| -%>
    <%= render :partial => 'phone', :locals => { :f => phones_form }  %>
  <% end -%>
  <p><%= link_to 'Добавить телефон', '#phones', :class => 'add_nested' %></p>
</fieldset>

<div id="phones_form"></div>