<h1>Компании</h1>

<table>
  <tr>
    <th>Краткое название</th>
    <th>Название</th>
    <th>ИНН</th>
    <th>Адрес</th>
    <th>Сайт</th>
    <th></th>
  </tr>

<% for company in @companies %>
  <tr>
    <td><%=h company.name %></td>
    <td><%=h company.full_name %></td>
    <td><%=h company.inn %></td>
    <td><%=h company.address %></td>
    <td><%= link_to company.site, company.site, :popup => true %></td>
    <td><%= link_to 'Изменить', edit_company_path(company) %> | <%= link_to 'Удалить', company, :confirm => 'Удалить компанию?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Добавить компанию', new_company_path %>
