- id = "branch_#{branch.id}"
- hidden = @visible.nil? ? !(level == 0) : !@visible.include?(id)
- open_icon_visible = @open_icons_visible.nil? ? false : @open_icons_visible.include?("open_#{branch.id}")

%tr{:id => id, :rel => "#{branch.name}", :class => "_branch with_form _parent_#{branch.parent_id}", :style => ("display: none" if hidden)}
  %td{:class => "level_#{level}"}
    = icon(:move, :class => "_move")
    &nbsp;
    = icon(:close, :id => "close_#{branch.id}", :class => "_close", :rel => "_parent_#{branch.id}", :style => ("display: none;" unless open_icon_visible))
    = icon(:open, :id => "open_#{branch.id}", :class => "_open", :rel => "_parent_#{branch.id}", :style => ("display: none;" if open_icon_visible))
    &nbsp;
    = branch.name
    = link_to icon(:edit), edit_admin_branch_url(branch), :class => "_edit", :style => "display: none;"
    = link_to icon(:delete), admin_branch_url(branch), :confirm => "Вы уверены?", :method => :delete, :class => "_edit", :style => "display: none;"
- unless branch.groups.empty?
  = render :partial => "group", :collection => branch.groups, :locals => { :branch => branch, :level => level + 1 }