%tr{:id => "branch_#{branch.id}", :rel => "#{branch.name}", :class => "_branch with_form"}
  %td= icon(:move, :class => "_move _branch")
  %td= branch.id
  %td{:class => "level_#{level}"}= branch.name
  %td= link_to icon(:edit), edit_admin_branch_url(branch)
  %td= link_to icon(:delete), admin_branch_url(branch), :confirm => "Вы уверены?", :method => :delete
- unless branch.groups.empty?
  = render :partial => "group", :collection => branch.groups, :locals => { :branch => branch, :level => level + 1 }