%tr{:id => "branch_#{branch.id}", :rel => "#{branch.name}"}
  %td= icon(:move, :class => "_move")
  %td= branch.id
  %td{:class => "level_#{level}"}= branch.name
  %td._branch= icon(:branch)  
  %td= link_to icon(:edit), edit_admin_branch_url(branch)
  %td= link_to icon(:delete), admin_branch_url(branch), :confirm => "Вы уверены?", :method => :delete