- id = "group_#{group.id}_parent_#{branch.id}"
- hidden = @visible.nil? ? "display: none;" : ("display: none;" unless @visible.include?(id))

%tr{:id => id, :rel => "#{group.name}", :class => "_group _parent_#{branch.id}", :style => hidden}
  %td= icon(:move, :class => "_move")
  %td= icon(:clone, :class => "_clone")
  %td  
  %td
  %td{:class => "level_#{level}"}= group.name
  %td= link_to icon(:edit), edit_admin_company_group_url(group)
  %td= link_to_remote icon(:delete), :url => detach_group_admin_branch_url(branch, :group_id => group.id), :method => :get
