%tr{:id => "group_#{group.id}", :rel => "#{group.name}", :class => "_group"}
  %td
    /= icon(:move, :class => "_move _group")
  %td
  %td{:class => "level_#{level}"}= group.name
  %td &nbsp;
  %td &nbsp;
  %td= link_to icon(:edit), edit_admin_company_group_url(group)
  %td= link_to icon(:delete), detach_group_admin_branch_url(branch, :group_id => group.id)
