<%= link_to "Изменить", edit_category_company_url(@company.category, @company) %>

<p>
  <b>Категория:</b>
  <%= link_to @company.category.name, category_url(@company.category) %>
</p>

<p>
  <b>Название:</b>
  <%=h @company.name %>
</p>

<p>
  <b>Полное название:</b>
  <%=h @company.full_name %>
</p>

<p>
  <b>ИНН:</b>
  <%=h @company.inn %>
</p>

<p>
  <b>Адрес:</b>
  <%=h @company.address %>
</p>

<p>
  <b>Сайт:</b>
  <%=h @company.site %>
</p>

<p>
  <b>Директор:</b>
  <%=h @company.director %>
</p>

<p>
  <b>Описание:</b>
  <%=h @company.description %>
</p>

<p>
  <b>Рабочее время:</b>
  <%=h @company.working_time %>
</p>

<p>
  <b>Источники:</b>
  <%=h @company.sources %>
</p>

<% if @company.phones.size > 0 %>
<p>
  <b>Телефоны:</b>
	<% @company.phones.each do |phone| %>
		<%= render :partial => "common/phone", :locals => { :phone => phone }%>
	<% end %>
</p>
<% end %>

<% if @company.emails.size > 0 %>
<p>
  <b>E-mail:</b>
	<% @company.emails.each do |email| %>
		<%= render :partial => "common/email", :locals => { :email => email }%>
	<% end %>
</p>
<% end %>

<% if @company.tag_list.size > 0 %>
<p>
  <b>Тэги:</b>
	<% @company.tag_list.each do |tag| %>
		<%= link_to tag, { :controller => :tags, :action => :show, :id => tag } %> 
	<% end %>
</p>
<% end %>