<td><%= link_to source.target_url, source.target_url, :popup => true %></td>
<td><%=h source.description %></td>
<td>
  <% unless source.jobs.empty? %>
    <%= source.jobs.first.state %>
    <% if source.jobs.first.state == 'running' %>
      , progress: <%= source.jobs.first.progress %>
    <% end %>
    <% if ['running', 'pending'].include?(source.jobs.first.state) %>
      <img src="/images/ajax-loader3.gif">
    <% end %>
  <% end %>
</td>
<td>
  <nobr>
    <%= link_to 'Run job!', run_admin_source_path(source)                     unless !source.jobs.empty? && (source.jobs.first.state == 'running' || source.jobs.first.state == 'pending')%>
    <%= link_to 'Show results', admin_source_results_path(source)             unless source.results.empty? %>
    <%= link_to 'Export to storage', export_admin_source_results_path(source) unless source.results.updated.empty? %>
    <%#= link_to 'Links', admin_source_links_path(source) %>
  </nobr>
</td>
<% unless source.jobs.empty? %>
  <script type="text/javascript">
    //<![CDATA[
      job_state_<%= dom_id(source.jobs.first) %> = "<%= source.jobs.first.state %>";
    //]]>
  </script>
<% end %>

