<% content_for :sidebar do %>
  <%= typus_block :location => @resource[:self], :partial => 'sidebar' %>
  <%= actions %>
<% end %>

<h2><%= link_to @resource[:class].typus_human_name.pluralize, :action => 'index' %> &rsaquo;  <%= _("Show") %></h2>

<%= typus_block :location => @resource[:self], :partial => 'show' %>

<dl>
<%- @fields.map { |u| u.first }.each do |column| -%>
  <dt><%=h @resource[:class].human_attribute_name(column) %></dt>
  <dd><%=h (!@item.send(column).blank?) ? @item.send(column) : 'nil' %></dd>
<%- end -%>
</dl>

<hr/>

<dl>
<!--<dt>Записей импортировано</dt><dd><%# @item.companies.count  %></dd> -->
<dt>Обновленных</dt><dd><%= @item.results.updated.count  %></dd>
<dt>Готовых к импортированию</dt><dd><%= @item.results.importable.count  %></dd>
</dl>

<hr/>


<% if @item.unprocessed_categories.count>0 %>
<h2>Новые категории (<%= @item.unprocessed_categories.count %>)</h2>

<% form_tag :action => 'set_categories' do |f|%>
<%= hidden_field "item", "id" %>
  <table>
    <tr>
      <th>Источник</th>
      <th>Каталог</th>
    </tr>
  <% @item.unprocessed_categories.each_with_index do |rc, i| %>
    <tr>
      <td><%= hidden_field "categories[#{i}]", "title", :value => rc.category_name %>
<%= link_to "#{rc.category_name} (#{rc.count})", :controller=>"results", :source_id=>@item.id, :category_name=>rc.category_name %>
</td>
      <td>
<%# , :selected=>"all" %>
<%= aac_select @croots, {:name=>"categories[#{i}][id]", :option_nil=>"-", :option_all=>"auto" } %></td>
    </tr>
  <% end %>
  </table>

  <%= submit_tag "Установить" %>
<% end %>
<% end %>


<%= typus_relationships %>
