<%= render :partial => 'admin/shared/jquery' %>

<%= title "Listing storages", :h2 %>

<table class="ttable">
  <thead>
    <th>Name</th>
    <th>Address</th>
    <th>Phones</th>
    <th>E-mail</th>
    <th>Site url</th>
    <th>Category</th>
    <th>Work time</th>
    <th>Other info</th>
    <th>Created at</th>
    <th>Updated at</th>
  </thead>
  <tfoot>
    <tr>
      <td colspan="10" align="center">
        <%= page_entries_info @storages %><br>
        <%= will_paginate @storages %>
      </td>
    </tr>
  </tfoot>
  <tbody>
    <% @storages.each do |storage| %>
      <tr>
        <td><%=h storage.name %></td>
        <td><%=h storage.address %></td>
        <td><%=h storage.phones %></td>
        <td><%=h storage.email %></td>
        <td><%=h storage.site_url %></td>
        <td><%=h storage.category %></td>
        <td><%=h storage.work_time %></td>
        <td><%=h storage.other_info %></td>
        <td><%= storage.created_at %></td>
        <td><%= storage.updated_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>


