<%= link_to 'Добавить категорию', new_category_path %>
<br />
<br />

<table width="100%">
<% for category in @categories %>
  <tr>
    <td style="padding-left:<%=15*category.ancestors_count%>px"><strong><%= link_to category.name, category %></strong> (<%= category.companies_count %>) <br />
	<%=h category.description %>
	</td>
    <td><%= link_to 'Изменить', edit_category_path(category) %> |
<%= link_to 'Удалить', category, :confirm => 'Удалить категорию?', :method => :delete %></td>
  </tr>
<% end %>
</table>

