<%= link_to 'Добавить компанию', new_category_company_path(@category) %>

<p>
  <b>Категория:</b>
  <%=h @category.name %>
</p>

<p>
  <b>Описание:</b>
  <%=h @category.description %>
</p>

<% if @category.children.size > 0 %>
<ul>
	<%= render_categories_front_end(@category) %>
</ul>
<% end %>

<%= render :partial => "companies/list", :locals => { :companies => @companies }%>

