<%#= link_to 'Добавить компанию', new_category_company_path(@category) %>
<%= link_to 'Все категории', categories_path() %>

<h1><%=h @category.name %></h1>

<p>
  <%=h @category.description %>
</p>

<% if @category.children.size > 0 %>
<ul>
	<%= render_categories_front_end(@category) %>
</ul>
<% end %>

<%= render :partial => "companies/list", :locals => { :companies => @companies }%>

