<h1>Редактирование пользователя</h1>

<%= error_messages_for :user %>
<% form_for(@user) do |f| -%>
<p><%= label_tag 'login' %><br/>
<%= f.text_field :login %></p>

<p><%= label_tag 'email' %><br/>
<%= f.text_field :email %></p>

<% for role in Role.find(:all) %>
  <%= check_box_tag "user[role_ids][]", role.id, @user.roles.include?(role) %>
  <%= role.name %>
<% end %>

<p><%= submit_tag 'изменить' %></p>
<% end -%>