<h1>Пользователи</h1>

<table>
  <tr>
    <th>логин</th>
    <th>e-mail</th>
    <th>роли</th>
    <th></th>
  </tr>

<% for user in @users %>
  <tr>
    <td><%=h user.login %></td>
    <td><%=h user.email %></td>
    <td>
			<% user.roles.each do |role|
				%>
				<%= h role.name %>
				<%
			end %>
		</td>
    <td><%= link_to 'Изменить', edit_user_path(user) %> | <%= link_to 'Удалить', user, :confirm => 'Удалить пользователя?', :method => :delete %></td>
  </tr>
<% end %>
</table>

