<div class="phone">
  <p>
    Номер
		<%= h phone.number %>
  </p>
  <p>
    Контактное лицо
		<%= h phone.person %>
  </p>
  <p>
    Отдел
		<%= h phone.department %>
  </p>
  <p>
    Рабочее время
		<%= h phone.working_time %>
  </p>
  <p>
    Описание
		<%= h phone.description %>
  </p>
  <p>
    Тип кода
		<%= phone_code(phone.short_code) %>
  </p>
</div>
