<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>8352.info - телефоны Чувашии - Администрирование</title>
    <%= stylesheet_link_tag 'blueprint/screen' %>
    <%= stylesheet_link_tag 'blueprint/print', :media => :print %>
    <!--[if IE]>
    <%= stylesheet_link_tag 'blueprint/ie' %>
    <![endif]-->
    <%= stylesheet_link_tag 'scaffold' %>
    <%= stylesheet_link_tag 'application' %>
    <%= stylesheet_link_tag 'flash_messages' %>
    <%= stylesheet_link_tag 'main_navigation' %>
    <%= stylesheet_link_tag 'main_tabnav' %>
    <%= stylesheet_link_tag 'ttable' %>
    
    <%= javascript_include_tag :defaults %>

    <%= active_scaffold_includes %>
  </head>
  <body>
    <%= navigation :main %>
    <% tabnav :main do %>
      <%= flash_messages %>
      <%= yield %>
    <% end %>
  </body>
</html>
