<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>8352.info - телефоны Чувашии</title>
    <%= stylesheet_link_tag 'scaffold' %>
    <%= javascript_include_tag :defaults %>
	  <% javascript_tag do %>
	    <%= yield(:javascript) %>
	  <% end -%>
  </head>
  <body>

<div id="header"><a href="/"><h1>8352.info</h1></a>
<p>Все телефоны Чувашии.</p>
    <p style="color: green"><%= flash[:notice] %></p>
    <p style="color: red"><%= flash[:error] %></p>
</div>



<div id="leftbar">
Список организаций:	<br />
<a href="">По названиям</a>	<br />
<a href="">По адресам</a>	<br />
<a href="">По деятельности</a>
	<br />
	<br />

	<br />
	<br />
</div>


<div id="main">

<%=render :partial => "common/search"%>

<div id="body">
	<div id="search_results"></div>

    <%= yield  %>
<!--текст, результаты поиска и прочее-->

</div>

</div>


<div id="rightbar">
	<% if logged_in? %>
	<%= render :partial => "sessions/destroy" %>
	<% else %>
	<%= render :partial => "sessions/sessionform" %>
	<% end %>
	<hr />

<a href="">отправить SMS</a>
<p>тэги тэги тэги</p>
 	<%= link_to 'Тэги', tags_url %>
</div>


<div id="footer">
(c) Рога и Копыта.
</div>





  </body>
</html>
